##
# Ingore the following files for Git
##

##
# Indicator folders
##
@_*_@/*

##
# backup files from build process
##
**/backup

##
# output files
##
06_output/*

##
# temporary files from building and staging process
##
09_temporary/*
